.gradle

.idea

build

.env

front_web/node_modules/**/*
.vscode/*

auth/src/main/resources/application.yml

alert/src/main/resources/application.yml

location/src/main/resources/application.yml
node_modules
